<ion-view view-title="My Shoppings">
	<ion-content class="padding">
		
		<h4>Add a shopping list</h4>

		<form class="list" ng-submit="addShopping(shopping)">
		  <label class="item item-input">
		    <input type="text" placeholder="Shopping list name" ng-model="shopping">
		  </label>
		  <button 
		  class="button button-block button-positive activated"
		  ng-disabled="!shopping">Add</button>
		</form>

		<ion-list>
			<ion-item 
				ng-repeat="shopping in shoppings"
				ng-click="editShopping(shopping.id)">
				<div class="row">
					<div class="col"><strong>{{shopping.title}}</strong></div>
					<div class="col-demo">
						<div class="row">
							<strong>
							<span id='number-default'>
								{{getPrice(shopping) | number}}  €
							</span>
							</strong>
						</div>
						<div class="row">
							<span >
								{{shopping.products.length}} products
							</span>
						</div>
					</div>
				</div>
				
				<ion-option-button 
				ng-click="deleteShopping(shopping.id)"
				class="button button-assertive">Supprimer</ion-option-button>
				<!--ion-option-button 
				ng-click="editShopping(shopping.id)" 
				class="button button-positive">Editer</ion-option-button-->
			</ion-item>
		</ion-list>

	</ion-content>

</ion-view>