<ion-view view-title="Product">
	<ion-content class="padding">
		<h4>Select a product for "{{shopping.title}}"</h4>		
		<!-- {{products}} -->

		<ion-list
			ng-controller="ProductCtrl"
			>
			<ion-item class="item-text-wrap" ng-repeat="item in products"
            	class="item-thumbnail-left"
            	ng-click="productSelect(
	            	shopping,
	            	item.name,
	            	item.hierarchicalCategories.lvl0,
	            	item.images.list['90'],
	            	item.prices.price
            	)">
            	<div class="row">
				<div class="col-30">
					<div class="row">
						<img 
						width="50" height="50"
						ng-src="{{item.images.list['90']}}"/>
					</div>
					<div class="row">
						<strong>
						{{item.prices.price}} €
						</strong>
					</div>
				</div>
				<div class="col" >
					<div class="row">
						{{item.name}}
					</div>
					<div class="row">
						<strong>
						{{item.hierarchicalCategories.lvl0}}
						</strong>
					</div>
				</div>
			</div>
        	</ion-item>
		</ion-list>
	</ion-content>

</ion-view>