<ion-view view-title="Shopping">
	<ion-content class="padding">
		<h4>Add a product to "{{shopping.title}}"</h4>

		<form class="list" ng-submit="addProduct(shopping.id,query)">
		  <label class="item item-input">
		    <input type="text" placeholder="Product name" ng-model="query">
		  </label>
		  <button 
		  class="button button-block button-positive activated"
		  ng-disabled="!query">Add</button>
		</form>

		<h4>Total: {{shopping.products.length}} products, {{getPrice(shopping) | number}} €</h4>
		<ion-list>
			<ion-item class="item-text-wrap" ng-repeat="product in shopping.products">
		          
		    <div class="row">
				<div class="col-30">
					<div class="row">
						<img 
						width="50" height="50"
						ng-src="{{product.image}}"/>
					</div>
					<div class="row">
						<strong>
						{{product.price}} €
						</strong>
					</div>
				</div>
				<div class="col" >
					<div class="row">
						{{product.name}}
					</div>
					<div class="row">
						<strong>
						{{product.category}}
						</strong>
					</div>
				</div>
			</div>
				<ion-option-button 
				ng-click="deleteProduct(product.name)"
				class="button button-assertive">Supprimer
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>


